# ignore all
*

# unignore all dirs
!.excluded_test
!.gitignore
!*/

# unignore *.asm
!*.asm

# unignore *.cpp
!*.cpp
!*_interface.cpp
*_OFASM_VM_ENTRY.cpp

# unignore *.c
!*.c

# unignore *.json
!*.json
test_log.json

# unignore makefile
!Makefile

# unignore out.result or OTDATA
!*.result

# unignore OFASMtest.py
!OFASMtest.py

# unignore jcl, indata
!INDATA
!*.jcl
!README

