# ignore all
*

# unignore all dirs
!.gitignore
!*/

# unignore *.asm
!*.asm

# unignore *.cpp
!*.cpp
*_interface.cpp
*_OFASM_VM_ENTRY.cpp

# unignore *.c
!*.c

# unignore *.json
!*.json
test_log.json

# unignore makefile
!Makefile

# unignore out.result
!*.result

# unignore OFASMtest.py
!OFASMtest.py

